#https://www.syncfusion.com/
VITE_SYNCFUSION_LICENSE_KEY=

# https://cloud.appwrite.io/
VITe_APPWRITE_PROJECT_ID=
VITE_APPWRITE_API_KEY=
VITE_APPWRITE_DATABASE_ID=
# create users collection in database
VITE_APPWRITE_USERS_COLLECTION_ID=
# create trips collection in database
VITE_APPWRITE_TRIPS_COLLECTION_ID=
# it chage based on server region
VITE_APPWRITE_API_ENDPOINT=

# https://sentry.io/ for using with react-router
SENTRY_AUTH_TOKEN=

# https://aistudio.google.com/
GEMINI_API_KEY=

# https://unsplash.com/developers
UNSPLASH_ACCESS_KEY=